<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BangladeshUniversity"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".HomeFragmentItems.officeInformation.Registrar"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeFragmentItems.administration.VCOffice"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeFragmentItems.administration.BoardOfTrust"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeFragmentItems.administration.MessageFromFounder"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeFragmentItems.academicInformation.RulesAndRegulationActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".HomeFragmentItems.admission.Admission"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentItems.academicInformation.AcademicPolicies"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentItems.academicInformation.OfferedDegree"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentItems.about.MissionAndVision"
            android:exported="false" />
        <activity
            android:name=".MoreFragmentItems.DeveloperInformation.DeveloperInformation"
            android:exported="false" />
        <activity
            android:name=".HomeFragmentItems.about.AboutBUActivity"
            android:exported="false" />
        <activity
            android:name=".DashBoard.DashBoard"
            android:exported="true"
            android:label="@string/title_activity_dash_board">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>